@use '../util' as *;

h1,
h2,
h3 {
	margin-top: 0;
	line-height: 1.1;
	--font-title: 'SVN-Gilroy Bold';
}

p {
	margin: 0;
}

a,
a:visited,
a:active {
	transition: var(--transition) ease-in-out;
	text-decoration: none;
	color: var(--grey);
}

.subtitle {
	font-size: rem(28);
}
