@use '../util' as *;

.contacts {

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content > *:not(.logo) {
        margin-top: rem(40);
    }

    &__direct,
    &__social {

        *:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__direct a {
        display: block;
        padding-left: rem(32);
        position: relative;

        &::before {
            content: '';
            min-width: rem(24);
            min-height: rem(24);
            display: inline-block;
            position: absolute;
            left: 0;
        }

        &:nth-child(2)::before {
            background-image: url('../images/tools/phone.svg');
        }

        &:nth-child(3)::before {
            background-image: url('../images/tools/mail.svg');
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__social a:not(:last-child) {
        margin-right: rem(20);
    }

    &__form {
        min-width: rem(720);

        div {
            display: flex;

            *:not(:last-child) {
                margin-right: rem(20);
            }
        }
    }

    .title--md::before {
        content: 'Contacts';
    }

    .btn {
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: rem(320);
    }

    input,
    textarea {
        width: 100%;
        border: none;
        color: var(--white);
        border-radius: rem(4);
        margin-bottom: rem(20);
        padding: rem(15) rem(20);
        background-color: var(--black);
    }

    textarea {
        resize: vertical;
        margin-bottom: rem(32);
        padding-bottom: rem(122);
    }
}
