@use '../util' as *;

.footer {
	margin-top: rem(200);
    color: var(--white);
    background-color: var(--footer);

    &__content {
        display: flex;
        justify-content: space-between;
        padding: rem(55) 0 rem(38);

        @include breakpoint-down(large) {
            flex-direction: column;
        }
    }

    &__item {

        @include breakpoint-down(large) {
            margin-bottom: 0;
        }

        &:not(:last-child) {
            margin-bottom: rem(60);
        }

        h4 {
            margin-bottom: rem(30);
            text-transform: uppercase;
        }

        a {
            display: block;
            line-height: 3;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .info {
        padding: rem(30) 0;
        text-transform: uppercase;
        border-top: rem(1) solid var(--white);
    }
}
