@use '../util' as *;

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);

    &__content {
        max-width: rem(510);

        .btn {
            padding-left: rem(45);
    
            svg {
                transition: var(--transition) ease-in-out;
                position: absolute;
                fill: var(--white);
                top: rem(12);
                left: rem(20);
            }

            &--transparent:hover svg {
                fill: var(--blue);
            }
        }
    }

    .title--sm {
        color: var(--blue);
        margin-bottom: rem(36);
    }

    .subtitle {
        font-size: rem(28);
        color: var(--grey);
        margin-bottom: rem(15);
    }

    img {
        padding: rem(22) 0 rem(58);
        max-width: 50%;
    }
}
