@use '../util' as *;

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(35) 0 rem(90);

    &__content {
        max-width: rem(740);
        padding: 0 rem(30);

        .btn {
            margin-top: rem(18);
        }
    }
}