@use '../util' as *;

.header {
    position: relative;
    background: var(--black) url('../images/header.webp') no-repeat 50% / cover fixed;

    &::after {
        content: '';
        min-width: 100%;
        min-height: 100%;
        background-color: rgba(0, 0, 0, .35);
        position: absolute;
        top: 0;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        min-height: 100vh;
        z-index: 1;

        &, a {
            color: var(--white);
        }
    }

    // Header Menu

    &__menu {
        position: absolute;
        top: rem(37);
        left: 50%;
        font-size: 0;
        transform: translateX(-50%);

        @include breakpoint-down(medium) {
            left: 25%;
        }

        * {
            font-size: rem(20);
            display: block;

            @include breakpoint(large) {

                & {
                    display: inline-block;

                    &:not(:last-child) {
                        margin-right: rem(112);
                    }
                }
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &--aside {
            left: 75%;
            transform: translateX(-50%) rotate(0deg);

            @include breakpoint(large) {
                top: 50%;
                left: rem(37);
                transform: translate(-50%, -50%) rotate(270deg);
            }
        }
    }

    // Header Content

    &__title {
        font-weight: 700;
        font-size: rem(100);
        line-height: 0.1;

        @include breakpoint-down(large) {
            margin-bottom: rem(20);
            line-height: initial;
            font-size: rem(60);
        }
    }

    &__subtitle {
        font-size: rem(30);
        margin-bottom: rem(65);
    }

    &__btn {
		border-color: var(--white);

		&:hover {
			background-color: rgba(0, 0, 0, .35);
		}
    }
}