@use "../util" as *;

.swiper {
	min-height: rem(1416);

	&__text {
		max-width: rem(860);
		padding: 0 rem(20);
		text-align: center;
		margin: 0 auto;
	}

	&-wrapper {
		margin-bottom: rem(155);
	}

	&-content {
		display: flex;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: rem(40);
		}

		img:not(:last-child) {
			margin-right: rem(30);
		}
	}

	&-pagination {
		color: hsl(0, 0%, 77%);
		letter-spacing: rem(4.2);
		font-size: rem(30);

		&-total {
			color: var(--black);
		}
	}

	&-button-prev,
	&-button-next {
		position: absolute;
		top: rem(355*5);
		z-index: 11;
	}

	&-button-prev {
		left: rem(385*2);
	}

	&-button-next {
		right: rem(385*2);
	}
}
