@use "../util" as *;

.travel {
	padding: 0 rem(24);
	font-size: rem(18);
	letter-spacing: rem(3.8);

	&__items {
		display: flex;
		justify-content: space-between;

		@include breakpoint-down(large) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__content:not(:last-child) {
		margin-right: rem(30);

		@include breakpoint-down(large) {
			margin: 0 0 rem(80);
		}
	}

  &__text {
		max-width: rem(1050);
		padding: 0 rem(20);
		text-align: center;
		margin: 0 auto;
	}

	&__btn {
		font-size: rem(16);
		padding: rem(18) rem(45);
		border-color: var(--light-grey);

    &, &:hover {
			background-color: var(--light-grey);
			color: var(--black);
    }
	}
}
