@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import "fonts.scss";
@import "effect.scss";
@import "reset.scss";

.rotate {
    transform: rotate(133deg);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    font-family: "Open Sans";
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    padding: 0 30px;
}

.header {
    position: relative;
    background-color: #f74c55;
    height: 500px;
    overflow: hidden;

    &::before {
        content: '';
        height: 870px;
        width: 870px;
        background-image: url(../img/circle_big.png);
        background-repeat: no-repeat;
        position: absolute;
        top: -165px;
        left: -265px;
    }

    &::after {
        content: '';
        height: 530px;
        width: 530px;
        background-image: url(../img/circle_small.png);
        background-repeat: no-repeat;
        position: absolute;
        bottom: -270px;
        right: -200px;
    }

    &__menu {
        font-size: 16px;
        font-weight: 300;
        line-height: 45px;
        text-transform: uppercase;
        position: relative;

            ul {
                display: flex;
                float: right;
                margin: 0 70px 0 0;

                li {
                    margin: -180px 0 0 0;
                    position: relative;
                    z-index: 1;

                    a {
                        cursor: pointer;
                        color: #ffffff;
                        text-decoration: none;
                        margin: 0 40px 0 0;
                        outline: none;
                    }
                }

                li:first-child {
                    font-family: 'SusaLight';
                    font-weight: 400;
                    font-size: 50px;
                    position: absolute;
                    left: 120px;
                    text-transform: none;
                }
            }
        }

    &__text {
        margin: 210px 0 0 670px;
        color: #ffffff;
        line-height: 45px;
        font-weight: 300;
        width: 500px;

        .header__title {
            font-size: 40px;
        }

        .header__subtitle {
            font-size: 16px;
            padding: 0 0 10px 0;
        }

        .header__button {
            border: 2px solid #ffffff;
            color: #ffffff;
            font-size: 24px;
            text-decoration: none;
            border-radius: 10px;
            padding: 5px 30px;
            transition: 0.6s;
            font-weight: 400;
            cursor: pointer;
            outline: none;

            &:hover {
                background-color: #ffffff;
                color: #000;
                box-shadow: 0 0 15px #fff;
            }
        }
    }
}

    #header-section {
        padding: 86px 0 104px 0;
    }

    .header-section__title {
        font-size: 30px;
        font-weight: 300;
        line-height: 45px;
        padding: 0 0 26px 0;
    }

    .header-section__subtitle {
        color: #404040;
        font-weight: 300;
        line-height: 25px;
        padding: 0 0 57px 0;
        max-width: 990px;
    }

#footer-section {
    display: flex;

    .footer-section__box {
        width: 100%;
        min-height: 304px;
        overflow: hidden;
        padding: 0 0 20px 0;

        &:first-child {
            background-color: #404040;

            .footer-section__title {
                padding: 0 0 0 40px;
            }

            .footer-section__title::after {
                content: '';
                width: 40px;
                height: 40px;
                display: inline-block;
                background-image: url(../img/icons/seo.png);
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 10px;
            }
        }

        &:nth-child(2) {
            background-color: #f74c55;

            .footer-section__title::after {
                content: '';
                width: 40px;
                height: 40px;
                display: inline-block;
                background-image: url(../img/icons/responsive.png);
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 10px;
            }
        }

        &:last-child {
            background-color: #2d5f3b;

            .footer-section__title::after {
                content: '';
                width: 40px;
                height: 40px;
                display: inline-block;
                background-image: url(../img/icons/cloud.png);
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 10px;
            }
        }
    }

    .footer-section__content {
        margin: 0 auto;
        padding: 30px 20px;
        max-width: 268px;
        position: relative;
    }

    .footer-section__title {
        margin: 0 auto;
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        line-height: 45px;
        padding: 0 0 0 50px;
        margin: 0 0 16px 0;
        position: relative;
    }

    .footer-section__suptext {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
    }

    .footer-section__text-1 {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        display: none;
    }

    .footer-section__text-2 {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        display: none;
    }

    .footer-section__text-3 {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        display: none;
    }

    #plus_1 {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url(../img/icons/plus.png);
        background-repeat: no-repeat;
        position: absolute;
        right: 50px;
        bottom: -15px;
        background-position: 50%;
        transition: transform 0.8s ease;
        z-index: 2;
        cursor: pointer;
        padding: 10px;
    }

    img:last-child {
        width: 40px;
        height: 40px;
        display: inline-block;
        background-image: url(../img/icons/block.jpg);
        background-repeat: no-repeat;
        position: absolute;
        right: 50px;
        bottom: -15px;
        background-position: 50%;
        opacity: 0.6;
    }

    #plus_2 {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url(../img/icons/plus.png);
        background-repeat: no-repeat;
        position: absolute;
        right: 50px;
        bottom: -15px;
        background-position: 50%;
        transition: transform 0.8s ease;
        z-index: 2;
        cursor: pointer;
        padding: 10px;
    }

    img:last-child {
        width: 40px;
        height: 40px;
        display: inline-block;
        background-image: url(../img/icons/block.jpg);
        background-repeat: no-repeat;
        position: absolute;
        right: 50px;
        bottom: -15px;
        background-position: 50%;
        opacity: 0.6;
    }

    #plus_3 {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url(../img/icons/plus.png);
        background-repeat: no-repeat;
        position: absolute;
        right: 50px;
        bottom: -15px;
        background-position: 50%;
        transition: transform 0.8s ease;
        z-index: 2;
        cursor: pointer;
        padding: 10px;

    }

    img:last-child {
        width: 40px;
        height: 40px;
        display: inline-block;
        background-image: url(../img/icons/block.jpg);
        background-repeat: no-repeat;
        position: absolute;
        right: 50px;
        bottom: -15px;
        background-position: 50%;
        opacity: 0.4;

    }

}

#footer {
    position: relative;
    background-image: url(../img/bg_footer.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50%;
    background-size: cover;
    height: 688px;

    .footer__title {
        color: #ffffff;
        font-size: 42px;
        font-weight: 300;
        line-height: 53.72px;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
        padding: 250px 0 50px 0;

        span {
            font-weight: 700;
        }
    }

    .footer__click {
        text-align: center;
    }

    .footer__button {
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 24px;
        text-decoration: none;
        border-radius: 10px;
        padding: 10px 45px;
        transition: 0.6s;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        outline: none;

        &:hover {
            background-color: #ffffff;
            color: #000;
            box-shadow: 0 0 15px #fff;
        }
    }

    .footer__line {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.copyright {
    margin: 30px 0;
    text-align: center;

    &__title {
        opacity: 0.8;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 54px;
    }
}

@import "media.scss";
