@font-face {
    font-family: 'Belinda';
    src: url('../fonts/dest/Belinda.woff2') format('woff2'), url('../fonts/dest/Belinda.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/dest/Ubuntu-Bold.woff2') format('woff2'), url('../fonts/dest/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/dest/MyriadPro-Regular.woff2') format('woff2'), url('../fonts/dest/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nexa';
    src: url('../fonts/dest/NexaRegular.woff2') format('woff2'), url('../fonts/dest/NexaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nexa Heavy';
    src: url('../fonts/dest/Nexa-Heavy.woff2') format('woff2'), url('../fonts/dest/Nexa-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}