@use '../util' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	letter-spacing: rem(1.6);
	font-family: var(--font-body);
}

.arrow {
	position: relative;
	display: inline-block;
	min-width: rem(53);
	min-height: rem(33);
	background: url('../images/tools/arrow-right.svg');

	&__left {
		margin-right: rem(42);
		background-image: url('../images/tools/arrow-light.svg');
	}
}

.divider {
	min-height: rem(3);
	max-width: rem(200);
	margin-left: rem(20);
	background-color: var(--white);
}
