@font-face {
	font-weight: 400;
	font-display: swap;
	font-style: normal;
	font-family: 'Jaapokkisubtract';
	src: url('../app/fonts/jaapokkisubtract.woff2');
}

@font-face {
	font-weight: 400;
	font-display: swap;
	font-style: normal;
	font-family: 'HelveticaNeue';
	src: url('../app/fonts/helveticaneue.woff2');
}

@font-face {
	font-weight: 300;
	font-display: swap;
	font-style: normal;
	font-family: 'HelveticaNeue Light';
	src: url('../app/fonts/helveticaneue-light.woff2');
}

@font-face {
	font-weight: 500;
	font-display: swap;
	font-style: normal;
	font-family: 'HelveticaNeue Medium';
	src: url('../app/fonts/helveticaneue-medium.woff2');
}

@font-face {
	font-weight: 700;
	font-display: swap;
	font-style: normal;
	font-family: 'HelveticaNeue Bold';
	src: url('../app/fonts/helveticaneue-bold.woff2');
}

:root {
	--font-body: 'HelveticaNeue Bold', sans-serif;
	--font-title: 'Jaapokkisubtract', sans-serif;
	--transition: .2s;
}
