@use '../util' as *;

h1,
h2,
h3 {
	margin-top: 0;
	line-height: 1.1;
	font-family: var(--font-title);
}

p {
	margin: 0;
}

a,
a:visited,
a:active {
	color: var(--black);
	text-decoration: none;
	transition: var(--transition) ease-in-out;
}
