@use '../util' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-size: rem(22);
	font-family: var(--font-body);
}

.title {
	letter-spacing: rem(4);
	text-transform: uppercase;
	margin-bottom: rem(38);
	font-size: rem(30);
	font-weight: 500;
	position: relative;

	&::before {
		content: 'About us';
		text-transform: capitalize;
		font-size: rem(22);
		color: var(--grey);
		position: absolute;
		top: rem(-35);
	}

	&--big {
		margin-bottom: rem(19);
		font-weight: 700;

		&::before {
			content: '';
		}
	}
}

.subtitle {
	color: var(--text);
	font-size: rem(28);
	margin-bottom: rem(95);
}

.text {
	margin-bottom: rem(44);
	color: var(--text);
}

.btn {
	font-size: rem(18);
	padding: rem(15) rem(90);
	transition: var(--transition);
	border: rem(2) solid var(--black);

	&:hover {
		background-color: var(--black);
		color: var(--white);
	}

	&--light {
		border-color: var(--white);

		&:hover {
			background-color: rgba(0, 0, 0, .35);
		}
	}
}
