@use '../util' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-size: rem(22);
	font-family: var(--font-body);
}

img {
	max-width: 100%;
}

.title {
	letter-spacing: rem(4);
	text-transform: uppercase;
	margin-bottom: rem(38);
	font-size: rem(30);
	font-weight: 500;
	position: relative;

	&::before {
		content: '';
		text-transform: capitalize;
		font-size: rem(22);
		color: var(--dark-grey);
		position: absolute;
		top: rem(-35);
	}

	&--small {
		margin: rem(60) 0 rem(45);
		font-size: rem(18);
	}

	&--big {
		margin-bottom: rem(19);
		font-weight: 700;
	}
}

.subtitle {
	margin-bottom: rem(80);
	font-size: rem(28);
	font-weight: 500;
	color: var(--text);
}

.text {
	margin-bottom: rem(44);
	color: var(--text);

	&--big {
		margin-bottom: rem(80);
		line-height: rem(40);
		max-width: rem(700);
	}
}

.input {
	font-size: rem(20);
	background-color: transparent;
	border: rem(2) solid var(--dark-grey);
	padding: rem(20) 0 rem(20) rem(40);
}

.btn {
	font-size: rem(20);
	padding: rem(15) rem(90);
	text-transform: uppercase;
	transition: var(--transition);
	border: rem(2) solid var(--black);

	&:hover {
		background-color: var(--black);
		color: var(--white);
	}
}
