@use '../util' as *;

h1,
h2,
h3 {
	margin-top: 0;
	line-height: 1.1;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	list-style-type: none;
}

a,
a:visited,
a:active {
	text-decoration: none;
}
