@use '../util' as *;

.about {

    &__inner {
        display: flex;
	    font-family: 'HelveticaNeue Bold';

        > * {
            display: flex;
            max-width: 25%;

            &:last-child {
                flex-direction: column;
            }
        }
    }

    &__nav {
        font-size: rem(13);
        max-height: rem(47);
        position: relative;
        right: rem(-180);
        left: rem(-180);

        &, ~ .about__text p {
            transform: rotate(-90deg);
        }
    }

    &__menu {
        display: flex;
        gap: rem(25);
        text-transform: uppercase;

        :first-child {
            list-style-type: none;
        }

        a {
            padding: rem(17);
            transition: var(--transition);

            &:hover {
                background-color: var(--brand);
                color: var(--white);
            }
        }
    }

    &__image {
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            top: rem(-50);
            left: rem(-50);
            min-width: rem(315);
            min-height: rem(315);
            border: rem(20) solid var(--brand);
        }
    }

    &__text {
        position: relative;

        * {
            position: absolute;
            top: rem(-50);
            left: rem(20);
            white-space: nowrap;
        }

        p {
            top: rem(160);
            left: rem(-160);
        }
    }
}
