@use '../util' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-size: rem(14);
	color: var(--grey);
	font-family: var(--font-body);
	background-color: var(--background);
}

.hamburger {
	position: relative;
	min-height: rem(100);
	min-width: rem(50);
	display: none;
	align-items: center;
	justify-content: center;
	transition: all var(--transition) ease-in-out;
	background-color: transparent;

	&.open &__btn {
		transform: translateX(rem(-50));
		background-color: transparent;
		box-shadow: none;

		&::before {
			transform: rotate(45deg) translate(rem(35), rem(-35));
		}

		&::after {
			transform: rotate(-45deg) translate(rem(35), rem(35));
		}
	}

	&__btn {
		min-width: rem(50);
		min-height: rem(5);
		border-radius: rem(5);
		background-color: var(--white);
		transition: all var(--transition) ease-in-out;

		&::before,
		&::after {
			content: '';
			position: absolute;
			min-width: rem(50);
			min-height: rem(5);
			background-color: var(--white);
			transition: all var(--transition) ease-in-out;
			border-radius: rem(5);
		}

		&::before {
			transform: translateY(rem(-16));
		}

		&::after {
			transform: translateY(rem(16));
		}
	}
}

.info {
    text-align: center;

	&:not(:last-child) {
		margin-bottom: rem(60);
	}
}

.btn {
	font-weight: 700;
	color: var(--white);
	border-radius: rem(4);
	padding: rem(10) rem(18);
	text-transform: uppercase;
	background-color: var(--blue);
	border: rem(1) solid transparent;
	position: relative;

	&--transparent {
		border-color: var(--white);
		background-color: transparent;

		&:hover {
			border-color: var(--blue);
			color: var(--blue);
		}
	}

	& + & {

		@include breakpoint(large) {
			margin-left: rem(16);
		}
	}
}
